Sphinx==7.2.6
sphinx-autobuild==2021.3.14
sphinxcontrib-spelling==8.0.0
sphinx-tabs==3.4.1
furo==2023.9.10
sphinx_design==0.5.0
sphinx-copybutton==0.5.2
sphinxcontrib-youtube==1.4.1
sphinx-toolbox==3.5.0
mistune==3.0.2
pystache==0.6.5
PyYAML==5.3.1
myst-parser==2.0.0
pyenchant==3.2.2
sphinx-rtd-theme==1.3.0
Pillow==9.3.0
docutils==0.18.1
