version: 2
jobs:
  build-odkx:
    working_directory: ~/work
    docker:
      - image: circleci/python:3.9
    steps:
      - checkout
      - run:
          name: Install checkout requirements
          command: |
            sudo apt-get update
            sudo apt-get install git-lfs
            git lfs install
      - run:
          name: Checkout binaries
          command: git lfs pull
      - run:
          name: Install build requirements
          command: |
            sudo apt-get install pngquant
            sudo apt-get install python3-enchant
            sudo pip install -r requirements.txt
      - run:
          name: Style Guide Check
          command: |
            paths=$(git diff origin/master... --name-only)
            echo $paths
            sudo python style-test.py $paths -r odkx-src
            sudo python style-test.py $paths -r shared-src
      - run:
          name: Build ODK-X Documentation
          command: make odkx-deploy
      - run:
          name: Check spelling of ODK-X Documentation
          command: make odkx-spell-check
      - run:
          name: Build LaTex of ODK-X Documentation
          command: make odkx-latex
      - run:
          name: Compress images
          command: pngquant odkx-build/_images/*.png --force --ext .png --verbose
      - store_artifacts:
          path: odkx-build
          destination: odkx-build
      - persist_to_workspace:
          root: ~/work
          paths:
            - odkx-build/*
            - s3_website.yml
  build-pdf-odkx:
    working_directory: ~/work
    docker:
      - image: schickling/latex
    steps:
      - attach_workspace:
          at: ~/work
      - run:
          name: Build PDF
          command: |
              cd odkx-build/latex
              xelatex ODK-X.tex
              xelatex ODK-X.tex
              mkdir -p ../_downloads
              mv ODK-X.pdf ../_downloads/ODK-X-Documentation.pdf
      - store_artifacts:
          path: odkx-build/_downloads/ODK-X-Documentation.pdf
          destination: ODK-X-Documentation.pdf
      - persist_to_workspace:
          root: ~/work
          paths:
            - odkx-build/*
            
  deploy-odkx:
    working_directory: ~/work
    docker:
      - image: cimg/ruby:3.2
    steps:
      - attach_workspace:
          at: ~/work
      - run:
          name: Install deploy requirements
          command: |
                sudo apt-get update
                sudo apt-get install -y pngquant openjdk-11-jre-headless
                gem install s3_website_revived && s3_website install
      - run:
          name: Push to S3
          command: |
                s3_website push

workflows:
  version: 2
  build_deploy:
    jobs:
      - build-odkx
      - build-pdf-odkx:
          requires:
            - build-odkx
      - deploy-odkx:
          context: AWS
          requires:
            - build-odkx
            - build-pdf-odkx
          filters:
            branches:
              only: 
                - master
                - build-pipe-fix-attempt_2
