version: 2
jobs:
  build:
    working_directory: ~/work
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - run:
          name: Install checkout requirements (large-file-support)
          command: |
            sudo apt-get update
            sudo apt-get install git-lfs
      - run:
          name: Checkout binaries
          command: git lfs pull
      - run:
          name: Install build requirements
          command: |
            sudo apt-get install pngquant
            sudo apt-get install python3-enchant
            pip3 install --user -r requirements.txt
            pip3 install --user -r style-test-requirements.txt
      - run:
          name: Generate html output
          command: make dirhtml
      - run:
          name: Check spelling
          command: |
            make spelling
            python3 util/check-spelling-output.py build/spelling
      - run:
          name: Compress images
          command: pngquant build/dirhtml/_images/*.png --force --ext .png --verbose
      - run:
          name: Style check of changed files
          command: |
            paths=$(git diff origin/main --name-only)
            python3 style-test.py $paths -r src
      - run:
          name: Build LaTex of ODK-X Documentation
          command: make latex
      - store_artifacts:
          path: build
      - persist_to_workspace:
          root: ~/work
          paths:
            - build/*
            - s3_website.yml
  build-pdf:
    working_directory: ~/work
    docker:
      - image: schickling/latex
    steps:
      - attach_workspace:
          at: ~/work
      - run:
          name: Build PDF
          command: |
              cd build/latex
              xelatex ODK-X.tex
              xelatex ODK-X.tex
              mkdir -p ../dirhtml/_downloads
              mv ODK-X.pdf ../dirhtml/_downloads/ODK-X-Documentation.pdf
      - store_artifacts:
          path: build/dirhtml/_downloads/ODK-X-Documentation.pdf
          destination: ODK-X-Documentation.pdf
      - persist_to_workspace:
          root: ~/work
          paths:
            - build/dirhtml/*
  deploy:
    working_directory: ~/work
    docker:
      - image: cimg/ruby:3.2
    steps:
      - attach_workspace:
          at: ~/work
      - run:
          name: Install deploy requirements
          command: |
              if [[ "$CIRCLE_PROJECT_USERNAME" == "odk-x" ]]; then \
                sudo apt-get update
                sudo apt-get install -y pngquant openjdk-11-jre-headless
                gem install s3_website_revived && s3_website install
              fi
      - run:
          name: Push to S3
          command: |
                s3_website push

workflows:
  version: 2
  build_deploy:
    jobs:
      - build
      - build-pdf:
          requires:
            - build
      - deploy:
          context: AWS
          requires:
            - build
            - build-pdf
          filters:
            branches:
              only: 
                - main
                - outreachy2024
