{% extends "!layout.html" %}
{% block extrahead %}

<div class="custom-banner">
  <p>If you're encountering the "You must use a Chrome or Safari browser" error when running the ODK-X Application Designer, you are not running the latest version - please <a href="https://forum.odk-x.org/t/odk-x-application-designer-release-v2-1-11/2590">update to v2.1.11</a></p>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-161773770-3', 'auto');
  ga('send', 'pageview', { 'page': location.pathname + location.search + location.hash});

</script>

<script async src="https://cse.google.com/cse.js?cx=f50b7f1d6b70daec9"></script>
{% endblock %}
